@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
  );
@include mat-core($custom-typography);
$primary: mat-palette($mat-blue, 200);
$accent:  mat-palette($mat-blue, 300, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
